body{
    background-color:goldenrod;
}
h1 {
	background-color:darkgreen;
color: rgb(246, 246, 246);
}
h2 {
    background-color: darkgreen;
color:aliceblue
}
h3 {
    background-color: darkgreen;
color:aliceblue
}
h1{
    font-size: 30px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 30px;
}